<a href="https://colab.research.google.com/github/hemanthakumar14/Phonepe-Pulse-Data-Visualization-and-Exploration-A-User-Friendly-Tool-Using-Streamlit-and-Plotly/blob/main/How_to_create_phonepe_pulse_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 10.54 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [3]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [ ]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,mizoram,2022,1,Peer-to-peer payments,302740,1.691281e+09
1,mizoram,2022,1,Recharge & bill payments,190137,7.654106e+07
2,mizoram,2022,1,Merchant payments,109669,1.741577e+08
3,mizoram,2022,1,Financial Services,731,1.657575e+06
4,mizoram,2022,1,Others,1640,1.521511e+06
...,...,...,...,...,...,...
3589,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Peer-to-peer payments,843550,2.512913e+09
3590,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Merchant payments,802899,4.304875e+08
3591,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Recharge & bill payments,471136,2.087630e+08
3592,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Financial Services,1826,1.763793e+06
3593,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Others,5672,3.741204e+06

In [7]:
# This is to direct the path to get the data as states
path = "/content/pulse/data/aggregated/user/country/india/state/"
user_state_list = os.listdir(path)
#Agg_state_list
# Agg_state_list--> to get the list of states in India

#<---------------------------------------------------------------------------------------------------------------------->#

# This is to extract the data's to create a dataframe

clm = {'State': [], 'Year': [], 'Quater': [], 'Brand': [],
    'Brand_count': [], 'Brand_percentage': []}
for i in user_state_list:
    p_i = path+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["usersByDevice"]:
                    
                    brand = z['brand']

                    brand_count = z['count']
                    brand_percentage = z["percentage"]
                    clm['Brand'].append(brand)
                    clm['Brand_count'].append(brand_count)
                    clm['Brand_percentage'].append(brand_percentage)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
            except:
                pass 
                

user_by_device = pd.DataFrame(clm)
#user_by_device.to_csv('user_by_device.csv')
user_by_device

             State  Year  Quater     Brand  Brand_count  Brand_percentage
0           punjab  2021       2    Xiaomi      1380642          0.231010
1           punjab  2021       2   Samsung      1317948          0.220520
2           punjab  2021       2      Vivo      1187613          0.198712
3           punjab  2021       2      Oppo       881894          0.147559
4           punjab  2021       2     Apple       418009          0.069942
...            ...   ...     ...       ...          ...               ...
6727  chhattisgarh  2020       1     Apple        47890          0.015876
6728  chhattisgarh  2020       1   OnePlus        43526          0.014429
6729  chhattisgarh  2020       1  Motorola        34414          0.011409
6730  chhattisgarh  2020       1    Lenovo        29426          0.009755
6731  chhattisgarh  2020       1    Others       234811          0.077843

[6732 rows x 6 columns]

In [8]:
path = "/content/pulse/data/map/transaction/hover/country/india/state/"
state_list = os.listdir(path)
#Agg_state_list
# Agg_state_list--> to get the list of states in India

#<-------------------------------------------------------------------------------------------------------------------->#

# This is to extract the data's to create a dataframe

clm = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Transaction_count': [], 'Transaction_amount': []}
for i in state_list:
    p_i = path+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["hoverDataList"]:
                    district = z['name']
                    transaction_count = z['metric'][0]['count']
                    transaction_amount = z['metric'][0]['amount']
                    clm['District'].append(district)
                    clm['Transaction_count'].append(transaction_count)
                    clm['Transaction_amount'].append(transaction_amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
# Succesfully created a dataframe
            except:
                pass   
                

map_transaction = pd.DataFrame(clm)
#map_transaction.to_csv('district_map_transaction.csv')
map_transaction

,State,Year,Quater,District,Transaction_count,Transaction_amount
0,punjab,2021,2,shahid bhagat singh nagar district,199137,4.284725e+08
1,punjab,2021,2,fazilka district,1140866,2.840374e+09
2,punjab,2021,2,barnala district,260490,6.829136e+08
3,punjab,2021,2,mansa district,299561,8.424558e+08
4,punjab,2021,2,ludhiana district,11475061,2.353047e+10
...,...,...,...,...,...,...
14631,chhattisgarh,2020,1,bijapur district,134336,2.840696e+08
14632,chhattisgarh,2020,1,bemetara district,228647,3.442700e+08
14633,chhattisgarh,2020,1,bastar district,343428,6.484305e+08
14634,chhattisgarh,2020,1,kondagaon district,163047,2.649236e+08
14635,chhattisgarh,2020,1,mahasamund district,395381,7.122573e+08

In [9]:
path = "/content/pulse/data/map/user/hover/country/india/state/"
state_list = os.listdir(path)
#Agg_state_list
# Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

# This is to extract the data's to create a dataframe

clm = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Registered_user': [], 'App_opening': []}
for i in state_list:
    p_i = path+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["hoverData"]:
                    district = z
                    registered_user =  D['data']["hoverData"][z]["registeredUsers"]
                    app_opening = D['data']["hoverData"][z]["appOpens"]
                    clm['District'].append(district)
                    clm['Registered_user'].append(registered_user)
                    clm['App_opening'].append(app_opening)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
# Succesfully created a dataframe
            except:
                pass       
                 

district_registering = pd.DataFrame(clm)
#district_registering.to_csv('district_registering_map.csv')
district_registering

,State,Year,Quater,District,Registered_user,App_opening
0,punjab,2021,2,shahid bhagat singh nagar district,67197,1146382
1,punjab,2021,2,fazilka district,265874,5712760
2,punjab,2021,2,barnala district,85341,1547066
3,punjab,2021,2,mansa district,115045,1913079
4,punjab,2021,2,ludhiana district,1204126,12949093
...,...,...,...,...,...,...
14635,chhattisgarh,2020,1,bijapur district,22680,585981
14636,chhattisgarh,2020,1,bemetara district,57258,960530
14637,chhattisgarh,2020,1,bastar district,69623,1449271
14638,chhattisgarh,2020,1,kondagaon district,33640,683246
14639,chhattisgarh,2020,1,mahasamund district,89942,1678308